@import "./font.less";

html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
input,
button,
mark,
textarea,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  color: #444;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  cursor: default;
}

*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
  font-family:'Microsoft YaHei','微软雅黑','PingFang SC', 'Lantinghei SC', 'Helvetica Neue';
  font-size: 14px;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
/*2016-06-15 11:04 - miles_fk*/

pre {
    white-space: pre-wrap; /* CSS-3 */ /*设置如何处理元素内的空白*/
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 *//*设置如何处理元素内的空白*/
    white-space: -pre-wrap; /* Opera 4-6 */ /*设置如何处理元素内的空白*/
    white-space: -o-pre-wrap; /* Opera 7 */ /*设置如何处理元素内的空白*/
    Word-wrap: break-word; /* Internet Explorer 5.5+ */
}

table{
  width: 100%;
  /*属性设置表格的边框是否被合并为一个单一的边框，还是象在标准的 HTML 中那样分开显示。*/
  border-collapse: collapse; /*设置单一的边框*/
  th{
    background:#f6f6f6;
    height: 40px;
    vertical-align: middle; /*垂直对齐属性*/
    font-size: 12px;

    /*只能在半角空格或连字符处换行*/
    word-break: keep-all;   /*oldVersion为：break-all [fengjun 2016-6-16 12:14:15]*/
  }
  td{
    height: 32px;
    word-break: break-all; /*规定自动换行的处理方法*/
    vertical-align: middle; /*垂直对齐属性*/
  }
}
table.border{
  th,td{
    border: 1px solid @ce9e;
    text-align: center;
    vertical-align: middle; /*垂直对齐属性*/
  }
  .border-item{
    padding:0 4px;
  }
}


html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@c666: #666;
@c999:#999;
@ce9e:#e9e9e9;
@cmain:#1970e3;
@cf6:#f6f6f6;

.c666{
  color:@c666;
}
.c999{
  color: @c999;
}
.cmain{
  color:@cmain;
}
.cf6{
  background-color:@cf6;
}

.ellipsis{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.t-vm{
  vertical-align: middle;
}
.t-vt{
  vertical-align: top;
}
.t-vb{
  vertical-align: bottom;
}

.__runtime__{
  width: 100%;
  height: 100%;
  overflow: auto;
}

.ofa{
  overflow: auto;
}


i{
  font-style: normal;
}

[type="text"],
[type="search"],
[type="password"],
[type="tel"],
[type="number"],
textarea{
  -webkit-appearance: none;
  font-size: 14px;
  border: 1px solid #e9e9e9;
  text-indent: 6px;
  height: 42px;
  border-radius: 2px;
}

input::-webkit-search-cancel-button {display: none;}

input[disabled],
button[disabled]{
  background: #aaa !important;
}

.center{
  text-align: center;
}

.f10{
  font-size: 12px;
}

.f12{
  font-size: 12px;
}

.f14{
  font-size: 14px;
}

.f16{
  font-size: 16px;
}

.f20{
  font-size: 20px;
}

.f24{
  font-size: 24px;
}

.rel{
  position: relative;
}
.abs{
  position: absolute;
}


.fl{
  float: left;
}
.fr{
  float: right;
}

.mt6{
  margin-top: 6px;
}
.ml6{
  margin-left: 6px;
}
.mr6{
  margin-right: 6px;
}
.mb6{
  margin-bottom: 6px;
}

.mr10{
   margin-right: 10px;
}

.mt12{
  margin-top: 12px;
}

.mr12{
  margin-right: 12px;
}

.ml12{
  margin-left: 12px;
}

.mb12{
  margin-bottom: 12px;
}


.clearfix:after {
  content: '';
  visibility: hidden;
  clear: both;
  display: block;
  height: 0;
}

a{
  color: @cmain;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 18px;
}

.btn{
  display: inline-block;
  line-height: 32px;
  -webkit-appearance: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 10px;
  font-size: 16px;
  width: 160px;
  white-space: nowrap;
}

.normal-btn{
  line-height: 40px;
  border: 1px solid #979797;
}

.normal-btn:hover{
  background: #faf8f8;
}

.main-btn{
  background: @cmain;
  color: #fff;
}

.second-btn{
  line-height: 40px;
  border: 1px solid #9ACDF4;
  color: #69B8F6;
}

.second-btn:active{
  background:#dfecf6;
}

.c-page{
  width:100%;
  min-height: 100%;
}

.c-body{
  position: absolute;
  top: 53px;
  left: 0;
  width: 100%;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

h5.title{
  margin-bottom: 10px;
  position: relative; /*配合数据打通安卓图表的位置-2016-06-16 14:52-miles_fk*/
  span{vertical-align: middle;}
  i{
    display: inline-block;
    width: 6px;
    height: 12px;
    background:#1970e3;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.f-txt{
  margin-bottom: 12px;
  margin-top: 12px;
}

.icon-q,
.icon-filter{
  display: block;
  width: 40px;
  height: 52px;
}

.icon-q{
  background: url(/static/image/search-icon.png) no-repeat;
  background-size: 18px;
  background-position: center;
}


 .icon-vs{
    width: 31px;
    height: 19px;
    display: inline-block;
  }

  .icon-vs{
    background: url(/static/image/vs.png) no-repeat;
    background-size: contain;
  }

  .aso-service{
    .main-btn{
      font-weight: bold;
    }
    .top{
      position: absolute;
      left: 50%;
      top: 90px;
      margin-left: -75px;
    }
  }


// 自动省略字数-2016-08-04 15:39-miles_fk
.slz{
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow-x: hidden;
}

//2016-08-05 12:28-miles_fk
.moving-element{
  will-change: transform;
  transform: translateZ(0);
}

//隐藏元素-2016-08-05 16:17-miles_fk
.dn{
  display:none
}
