/* keyword-color -miles_fk-2016-07-12 15:28*/
.kwc {
  color: #1970e3;
}
/* table-color -miles_fk-2016-07-12 15:28*/
.tw98 {
  width: 98%;
  margin: 0 auto;
}
ul {
  display: block;
  overflow: auto;
}
ul li {
  display: block;
  float: left;
  width: 12.5%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 0.5px solid  #6b8e9e;
  color: #333;
}
.kwDiv {
  width: 100%;
}
